{% extends "home.html" %}

{% block title %} Adicionar Auxílio {% endblock %}

{% block content %}

	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}

		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Inserir novo auxílio
		          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
		        </h2>
		        <div class='ui grid'>
		        	
		        		<div class='row'>
				        	<div class='sixteen wide column'>
				        		<h4 class='ui header'> Vaga 
				        		<p class='sub header'> Detalhes da vaga para qual será inserido um auxílio. </p></h4>
				        	</div>
				        </div>
				        <div class='row'>
				        	<div class='four wide column'>
								<h5 class='ui header'>  Função: </h5> {{ vaga.funcao }}
							</div>
						    
							<div class='six wide column'>
								<h5 class='ui header'> Descrição:  </h5> {{ vaga.descricao }}
							</div>
							<div class='four wide column'>
								<h5 class='ui header'> Turno:  </h5> {{ vaga.turno }}
							</div>
						</div>
			        </div>

			        <form class="ui form raised segment" method="POST" action="{{ request.path }}" autocomplete="off">
                        {% csrf_token %}


				        <div class="ui two fields">

		                    <div class='field'>
		                    	<div class='field'>
			                    	<label for="Auxilio">Auxílio </label>
				                    {{ form.auxilio }}
                                    {{ form.auxilio.errors }}
		                       	</div>
		                    </div>
	                        <div class='field'>
		                    	<label for="valor">Valor </label>
			                    <div class="ui right labeled icon input">
		                            {{ form.valor }}
                                    {{ form.valor.errors }}
		                            <i class="asterisk icon"></i>
	                        	</div>
	                    	</div>
		                </div>


                		<button type="submit" class="ui floated right green labeled icon button">
	                       <i class="add icon"></i>
	                       Adicionar auxílio
	                    </button>
					</form>
					{% if "inserir-auxilio-ao-editar" in request.path %}
						<a href="{% url 'editaroferta' vaga.oferta_id %}" class="ui floated left red labeled icon button">
	                        <i class="left arrow icon"></i>
	                            Voltar
	                    </a>


					{% else %}
					<!-- Este form serve para enviarmos o id da oferta para retornar a parte onde a empresa insere as vagas e ofertas -->
                    <form action="{% url 'cadastraoferta' %}" method="get">
                        <input type="hidden" name="oferta" value="{{ vaga.oferta.id }}"/>
                        <button type="submit" class="ui floated left red labeled icon button">
                            <i class="checkmark icon"></i>
                            Finalizar
                        </button>
                    </form>
                    {% endif %}
                    
                    <!-- =========================================== form id Oferta =================   -->
					<br><br>
			        <table class='ui celled segment table' id='mostraOfertas'>
				    	<thead>
				    		<tr>
				    			<th> Auxílio </th>
				    			<th> Valor</th>
				    		</tr>
				    	</thead>
				    	<tbody>
				    	{% for auxilio in auxilios %}
				    		<tr>
				    			<td> {{ auxilio.auxilio }}</td>
				    			<td> {{ auxilio.valor }} </td>
				    		</tr>
				    	{% endfor %}
				    	</tbody>
				    </table>
		        </div>
		        


		    </div>
		</div>
	</article>
{% endblock %}