{% extends "base.html" %}

{% block title %} Adicionar vaga {% endblock %}

{% block content %}
	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">
			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}
		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

                    <h3 class="ui header">
                        Inserir vaga
                        <p class='sub header'>Preecha o formulário de cadastro abaixo.</p>
                    </h3>
                    <form class="ui form raised segment" method="POST" action="{% url 'cadastrarvaga' id_oferta %}" id="form-solicitacao">
                        {% csrf_token %}
                        <div class="ui two fields">
                            <div class='field'>
                                <label for="funcao">Função </label>
                                <div class="ui left labeled icon input">
                                    {{ form_vaga.funcao }}
                                    {{ form_vaga.funcao.errors }}
                                </div>
                            </div>
                            <div class='field'>
		                    	<label for="qtd">Quantidade </label>
			                    <div class="ui left labeled icon input">
                                    {{ form_vaga.quantidade_vaga }}
                                    {{ form_vaga.quantidade_vaga.errors }}
		                            <i class="asterisk icon"></i>
		                        </div>
		                    </div>
                        </div>
                        <div class="ui two fields">
                            <div class='field'>

                                <label for="descricao_vaga">Descrição </label>
                                <div class="ui right labeled icon input">
                                    {{ form_vaga.descricao_vaga }}
                                    {{ form_vaga.descricao_vaga.errors }}
                                    <i class="asterisk icon"></i>
                                </div>

                            </div>
                            <div class='field'>

                                <label for="turno">Turno</label>
                                    {{ form_vaga.turno }}
                                    {{ form_vaga.turno.errors }}
                            </div>
                        </div>
                        <div class='ui two fields'>
                            <div class='field'>
                                <label for="hora_inicio">Horário de entrada </label>
                                <div class="ui left labeled icon input">
                                    {{ form_vaga.hora_inicio }}
                                    {{ form_vaga.hora_inicio.errors }}
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                            <div class='field'>
                                <label for="hora_fim">Horário de saída </label>
                                <div class="ui left labeled icon input">
                                    {{ form_vaga.hora_fim }}
                                    {{ form_vaga.hora_fim.errors }}
                                     <i class="asterisk icon"></i>
                                </div>
                            </div>
                         </div>
                         <a href="{% url 'editaroferta' id_oferta %}" class="ui floated left red labeled icon button">
                            <i class="left arrow icon"></i>
                            Voltar
                         </a>
                         <button type="submit" class="ui floated right green labeled icon button" >
                            <i class="checkmark icon"></i>
                            Enviar vaga
                         </button>
                     </form>
				    </div>
		        </div>
		    </div>
		</div>
	</article>
{% endblock %}