{% extends "home.html" %}

{% load url from future %}

{% block content %}
    <form action="/cadastra-oferta/{{id_concedente}}/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="id_oferta" value="{{ id_oferta }}"/>
        <input type="submit" value="Nova Vaga">

    </form>
        <a href="/"><input type="button" value="Finalizar" /></a>

{% endblock %}

