{% extends "home.html" %}

{% block title %} Adicionar Oferta {% endblock %}

{% block content %}

	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">
			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}
		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Inserir nova oferta
		          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
		        </h2>
		        <form class="ui form raised segment" method="POST" action="{% url 'cadastraoferta' %}" id="form-solicitacao">
                    {% csrf_token %}
                    <!-- =================================  Input para receber o id da oferta e fazer verificação para nova vaga -->
                    <input type="hidden" name="id_oferta" value="{{ id_oferta }}"/>
                    {% if vagas.count < 0 %}
                        <div class="ui two fields">

                            <div class='field'>
                                <div class='field'>
                                    <label for="titulo">Título </label>
                                    <div class="ui left labeled icon input">
                                        {{ form_oferta.titulo }}
                                        {{ form_oferta.titulo.errors }}
                                        <i class="asterisk icon"></i>
                                    </div>
                                </div>
                            </div>

                            <div class='field'>
                                <label for="data_vencimento">Data de Vencimento </label>
                                <div class="ui left labeled icon input">
                                    {{ form_oferta.data_vencimento }}
                                    {{ form_oferta.data_vencimento.errors }}
                                    <i class="asterisk icon"></i>
                                </div>

                            </div>
                            
                        </div>
                        <div class="ui two fields">
                        	<div class='field'>
                                <label for="descricao_oferta">Descrição </label>
                                <div class="ui right labeled icon input">
                                    {{ form_oferta.descricao }}
                                    {{ form_oferta.descricao.errors }}
                                    <i class="asterisk icon"></i>
                                </div>
                            </div>
                            <div class="field">
                            	<label for="liberar">Liberar</label>
							 	{{form_oferta.liberar}}
							</div>
                        </div>
                    {% else %}

                       <h5 class="ui header">Titulo: <p class="sub header">{{ vagas.0.oferta.titulo }}</p></h5> 
                       <h5 class="ui header">Descrição: <p class="sub header">{{ vagas.0.oferta.descricao }}</p></h5> 
                       <h5 class="ui header">Data Vencimento: <p class="sub header">{{ vagas.0.oferta.data_vencimento }}</p></h5> 
                    {% endif %}

	                <div id='vaga1' class='vaga'>
						<h3 class="ui header">
							Inserir vaga
							<p class='sub header'> Para que a oferta seja válida, pelo menos um vaga deve ser inserida.</p>
				        </h3>
				        <div class="ui two fields">

				        	
		                    <div class='field'>

		                    	<label for="funcao">Função </label>
		                            {{ form_vaga.funcao }}
                                    {{ form_vaga.funcao.errors }}

		                    </div>
		                    <div class='field'>

		                    	<label for="qtd">Quantidade </label>
			                    <div class="ui left labeled icon input">
		                            {{ form_vaga.quantidade_vaga }}
                                    {{ form_vaga.quantidade_vaga.errors }}
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>

				        </div>
				        <div class="ui two fields">
				        	<div class='field'>
		                    
		                    	<label for="descricao_vaga">Descrição </label>
			                    <div class="ui right labeled icon input">
		                            {{ form_vaga.descricao_vaga }}
                                    {{ form_vaga.descricao_vaga.errors }}
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
				        	<div class='field'>

		                    	<label for="turno">Turno</label>
		                            {{ form_vaga.turno }}
                                    {{ form_vaga.turno.errors }}
		                    </div>
		                </div>
		                <div class='ui two fields'>
				        	<div class='field'>
		                    
		                    	<label for="hora_inicio">Horário de entrada </label>
			                    <div class="ui left labeled icon input">
		                            {{ form_vaga.hora_inicio }}
                                    {{ form_vaga.hora_inicio.errors }}
		                            <i class="asterisk icon"></i>
		                        </div>

		                    </div>
		                    <div class='field'>
		                    	<label for="hora_fim">Horário de saída </label>
			                    <div class="ui left labeled icon input">
		                            {{ form_vaga.hora_fim }}
                                    {{ form_vaga.hora_fim.errors }}
		                             <i class="asterisk icon"></i>
		                        </div>
		                    </div>
				        </div>
				    </div>


                    {% if vagas.count > 0 %}

					    <table class='ui celled segment table' id='mostraOfertas'>

					    	<thead>
					    		
					    		<tr>
					    			<th> Função </th>
					    			<th> Descrição </th>
					    			<th> Turno</th>
					    			<th> Horário entrada</th>
					    			<th> Horário saída</th>
					    			<th> Auxílios </th>
					    		</tr>
					    	</thead>

					    	<tbody>
					    	{% for vaga in vagas %}
					    		<tr>
					    			<td> {{ vaga.funcao }}</td>
					    			<td> {{ vaga.descricao }} </td>
					    			<td> {{ vaga.turno }} </td>
					    			<td> {{ vaga.hora_inicio }} </td>
					    			<td> {{ vaga.hora_fim }} </td>

					    			<td>
					    				<a href='{% url 'inserirauxilio' vaga.id %}'>
					    					<i class='dollar icon'></i>
					    					Auxílios
					    				</a> 
					    			</td>
					    		</tr>
					    	{% endfor %}
					    	</tbody>
					    </table>
					{% endif %}
					
			        <button type="submit" class="ui floated right green labeled icon button" > 
                    	<i class="checkmark icon"></i>
                    	Enviar vaga
                	</button>
                    <a href="{% url 'consultarofertas' %}" class="ui floated left red labeled icon button" >
                        <i class="left arrow icon"></i>
                        Voltar
                    </a>
		        </form>


		    </div>

		</div>

	</article>

{% endblock %}