{% extends "home.html" %}

{% block title %} Todos os estagiários {% endblock %}

{% block content %}

	<article class="ui stackable grid">
		<div class="three wide column">
			{% block menu %}
                {% include 'partials/menus.html' %}
            {% endblock %}
		</div>

		<div class="twelve wide column">
			<div class="ui green segment">

	<!-- ==========================================================================
    Conteúdo da guia Todas os estagiários
    =============================================================================== -->

				<div class="ui tab">
                    <form method="post" action=".">
                    {% csrf_token %}
                        <div class="ui two column grid">
                            <div class="ui left aligned column">
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="classificar" value="{{ classificar }}">
                                    <div class="default text">Classificar por:</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="0">Estagiário A-Z</div>
                                        <div class="item" data-value="1">Estagiário Z-A</div>
                                        <div class="item" data-value="2">Data de entrada</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui right aligned column">
                                <div class="ui icon input">
                                    <input type="text" name="procurar" placeholder="Procurar..." value="{{ procurar }}">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>
                    </form>

					<div class="ui divider"></div>

					<!--<div class="ui one column grid">
						<div class="ui right aligned column">
                            {% include "partials/paginacao.html" with lista=ofertas procurar=procurar classificar=classificar %}
						</div>
					</div>

                    {% include "partials/mensagem.html" %}

                    {% if not ofertas %}
                        <div class="ui error message">
                            <div class="header">
                                Não foi encontrado nenhuma oferta
                            </div>
                        </div>
                    {% endif %}-->

					<table class="ui celled segment table">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Cargo</th>
								<th>Data de entrada</th>
								<th>Supervisor responsável</th>
							</tr>
						</thead>

						<tbody>
							<!-- {% for oferta in ofertas %} -->
							<tr>
								<td>
									<!-- <a href="{% url 'detalheoferta' oferta.id %}">{{ oferta.descricao }} --></a>
								</td>
								<td><!-- {{ oferta.concedente.nome_empresa }} --></td>
								<td><!-- {{ oferta.data }} --></td>
								<td><!-- {{ oferta.data }} --></td>
							</tr>
							<!-- {% endfor %} -->
						</tbody>
					</table>

					<!-- <div class="ui one column grid">
						<div class="ui right aligned column">
							<div class="ui right aligned column">
                                {% include "partials/paginacao.html" with lista=ofertas procurar=procurar classificar=classificar %}
						    </div>
						</div>
					</div> -->
				</div>

			</div>

		</div>

	</article>

{% endblock %}