{% extends "home.html" %}	

{% block title %} Consulta empresas {% endblock %}

{% block content %}

	<article class="ui stackable grid">
	    <div class="three wide column">
	    	{% block menu %}
	            {% include 'partials/menus.html' %}
	        {% endblock %}
	    </div>

	    <div class='twelve wide column'>
	    	<div class="ui green segment aligned">
				<div class="ui tabular filter menu">
					<a class="item active" data-tab="todas">Todas as empresas</a>
				</div>

				<div  class="ui active tab" data-tab='todas'>
					<div class="ui two column grid" >
							<div class="ui left aligned column">
								<div class="ui selection dropdown">
									<input type="hidden" name="classificacao">
									<div class="default text">Classificar por:</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item" data-value="0">Empresa A-Z</div>
										<div class="item" data-value="1">Empresa Z-A</div>
										<div class="item" data-value="2">Status</div>
										<div class="item" data-value="3">Nome da empresa</div>
										<div class="item" data-value="4">Tipo concedente</div>
										<div class="item" data-value="5">Área de atuação</div>
									</div>
								</div>
							</div>

							<div class="ui right aligned column">
								<div class="ui icon input">
									<input type="text" placeholder="Procurar...">
									<i class="search icon"></i>
								</div>
							</div>
					</div>

					<div class="ui divider"></div>

						<table class="ui center aligned celled segment table">
							<thead>
								<tr>
									<th> Status </th>
									<th> Nome da empresa </th>
						    		<th> Tipo concedente </th>
						    		<th> Área de atuação </th>
						    		
								</tr>
							</thead>
							<tbody>
					    	{% for empresa in empresas %}
					    		
					    		<tr>
					    			<td> 	
						    			<div class="ui {{empresa.get_convenio_atual.status.classe_css}} circular label">
						    		</td>	
					    			<td> {{ empresa.nome_empresa }}</td>
					    			<td> {{ empresa.tipo_concedente }} </td>
					    			<td> {{ empresa.area_atuacao }} </td>
					    		</tr>
					    	{% endfor %}
					    	</tbody>

						</table>

					<aside class='ui horizontal list'>
						<div class='item'>
						Legenda:
						</div>
						<div class='item st_cv_nao_avaliado'>
							<div class="ui st_nao_avaliado circular label"> </div> Não Avaliado
						</div>
						<div class='item st_cv_em_andamento'>
							<div class="ui st_em_andamento circular label"> </div> Em Andamento
						</div>
						<div class='item st_cv_aprovado'>
							<div class="ui st_aprovado circular label"> </div> Aprovado
						</div>
						<div class='item st_cv_recusado'>
							<div class="ui st_recusado circular label"> </div> Recusado
						</div>
						<div class='item st_cv_cancelado'>
							<div class="ui st_cancelado circular label"> </div> Cancelado
						</div>
					</aside>

				</div>

			

	    </div>

	</article>

{% endblock %}


