{% extends "home.html" %}

{% load group_tags %}

{% block title %} Detalhe vaga {% endblock %}

{% block content %}

    <article class="ui stackable grid">

    	<div class="three wide column">
	        {% block menu %}
	            {% include 'partials/menus.html' %}
	        {% endblock %}
	    </div>

    	<div class="twelve wide column">
    		<div class="ui green segment">

    			<h2 class="ui header">
		          Detalhes da vaga
		        </h2>

    			<div class="ui two divided stackable column grid">
    				<div class="column">
	    				<div class="ui big list">
							<div class="item">
								<div class="header"><i class="info icon"></i>Dados gerais</div>
							</div>
						</div>

						<div class="ui raised segment">
							<div class="ui big relaxed list">
                                <div class="item">
                                    <div class="content">
                                        <div class="header">Descrição</div>
                                        <div class="description">{{vaga.descricao}}</div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">Função</div>
                                        <div class="description">{{vaga.funcao}}</div>
                                    </div>
                                </div>
						    </div>
						</div>

						<div class="ui big list">
							<div class="item">
								<div class="header"><i class=" moon icon"></i>Turno</div>
							</div>
						</div>

						<div class="ui raised segment">
							<div class="ui big relaxed list">
								<div class="item">
									<div class="description">{{vaga.turno}}</div>
								</div>
							</div>
						</div>

						<div class="ui big relaxed list">
							<div class="item">
								<div class="header"><i class="time icon"></i>Horário</div>
							</div>
						</div>

						<div class="ui raised segment">
							<div class="ui big relaxed list">
								<div class="item">
									<div class="content">
										<div class="header">Horário de entrada</div>
										<div class="description">{{vaga.hora_inicio}}</div>
									</div>
								</div>

								<div class="item">
									<div class="content">
										<div class="header">Horário de saída</div>
										<div class="description">{{vaga.hora_fim}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>

                    <div class="column">
                        <div class="ui big list">
                            <div class="item">
                                <div class="header"><i class="dollar icon"></i>Auxílios</div>
                            </div>
                        </div>

                        {% for va in vaga.get_auxilios %}
                        <div class="ui raised segment">
                            <div class="ui big relaxed list">
                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{va.auxilio.descricao}}</div>
                                        <div class="description">{{va.valor}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="ui big  list">
                            <div class="item">
                                <div class="header"><i class=" asterisk icon"></i>Nº de vagas restantes</div>
                            </div>
                        </div>

                        <div class="ui raised segment">
                            <div class="ui big list">
                                <div class="item">
                                    <div class="description">{{vaga.oferta.get_total_vagas_disponiveis}}</div>
                                </div>
                            </div>
                        </div>
						
						{% if not request.user|check_group_aluno %}
                        <div class="ui big  list">
							<div class="item">
								<div class="header"><i class=" grid layout icon"></i>Candidatos </div>	
							</div>
						</div>
						
						<div class="ui raised segment"> 
							<div class="ui big list">
								<div class="item">
									<a href="{% url 'candidatosporvaga' vaga.id %}">Visualizar candidatos a esta vaga &raquo;</a>
								</div>
							</div>
						</div>
						{% endif %}
                    </div>
				</div>

    			<div class="ui divider"></div>

				<a href="{% url 'detalheoferta' vaga.oferta_id %}" class="ui red left floated labeled icon button">
	                <i class="left arrow icon"></i>
	                Voltar
	            </a>
				
				{% if request.user|check_group_aluno %}
					{% if not vaga.verifica_candidatura %}
			            <a href="{% url 'candidatarvaga' vaga.id %}" class="ui green right floated labeled icon button">
			                <i class="checkmark icon"></i>
			                Me candidatar!
			            </a>
			        {% endif %}
	            {% else %}
	            <a href="{% url 'editarvaga' vaga.id %}" class="ui green right floated labeled icon button">
	                <i class="pencil icon"></i>
	                Editar vaga
	            </a>
	            {% endif %}

    		</div>

    	</div>

    </article>

{% endblock %}