{% extends "home.html" %}
{% load group_tags %}
{% block title %} Detalhe oferta {% endblock %}

{% block content %}

<article class="ui stackable grid">

	<div class="three wide column">
        {% block menu %}
            {% include 'partials/menus.html' %}
        {% endblock %}

    </div>

    <div class="twelve wide column">
    	<div class="ui green segment">
    		<h3 class="ui header">
		      	Oferta -  {{oferta.titulo}}
		      	{% if request.user|check_group_empresa_coordenador %}
		      	<a href="{% url 'editaroferta' oferta.id %}" class="ui green right floated labeled icon button">
		      		<i class="pencil icon"></i>
                	Editar Oferta 
            	</a>
            	{% endif %}
		    </h3>

			<div class="ui two column segment divided grid">
				<div class="column">
					<div class="ui relaxed list">

						<div class="item">
							<div class="content">
								<div class="header">Descrição</div>
								<div class="description">{{oferta.descricao}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="header">Data de vencimento</div>
								<div class="description">{{oferta.data_vencimento}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
				    <div class="ui relaxed list">
						<div class="item">
							<div class="content">
								<div class="header">Total de vagas</div>
								<div class="description">{{oferta.get_total_vagas}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="header">Vagas disponíveis</div>
								{% if request.user|check_group_empresa_coordenador %}
									<div class="description">{{oferta.get_total_vagas_preenchidas}}</div>
								{% else %}
									<div class="description">{{oferta.get_total_vagas_disponiveis}}</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			{% if request.user|check_group_aluno_coordenador %}
    		<h3 class="ui header">Empresa</h3>
			<div class="ui accordion">
			  	<div class="title">
			    	<i class="dropdown icon"></i>
			    	Clique para ver detalhes sobre a empresa
			  	</div>
			  	<div class="content">
                    <div class="ui list">
						<div class="item">
							<div class="header"><i class="circular info icon"></i>Dados gerais</div>
						</div>
					</div>
			    	<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
								<div class="header">Nome</div>
								<div class="description">{{oferta.concedente.nome_empresa}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="header">Área de atuação</div>
								<div class="description">{{oferta.concedente.area_atuacao}}</div>
							</div>
						</div>
					</div>

                    <div class="ui list">
						<div class="item">
							<div class="header"><i class="circular road icon"></i>Endereço</div>
						</div>
					</div>

					<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
								<div class="header">Rua</div>
								<div class="description">{{oferta.concedente.endereco.rua}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="header">Nº, complemento</div>
								<div class="description">{{oferta.concedente.endereco.numero}}</div>
							</div>
						</div>
					</div>

					<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
							  <div class="header">Bairro</div>
							  <div class="description">{{oferta.concedente.endereco.bairro}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
							   <div class="header">Cidade</div>
							   <div class="description">{{oferta.concedente.endereco.cidade}}</div>
							</div>
						</div>
						<div class="item">
							<div class="content">
								<div class="header">CEP</div>
							    <div class="description">{{oferta.concedente.endereco.cep}}</div>
							</div>
						</div>
					</div>

					<div class="ui relaxed horizontal list">
						<div class="item">
							<div class="content">
								<div class="header">Referência</div>
								<div class="description">{{oferta.concedente.endereco.referencia}}</div>
							</div>
						</div>
					</div>

					<div class="ui divider"></div>

					<div class="ui relaxed horizontal list">
						<div class="item">
						 <div class="content">
						    <div class="header"><i class="circular phone icon"></i>Contato</div>
                             {% for contato in oferta.concedente.contato.all %}
						        <div class="description">{{contato}}</div>
                             {% endfor %}
						  </div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<h3 class="ui header">
		      	Vagas
                <p class="sub header">Verifique abaixo, detalhes das vagas disponibilizadas para esta oferta</p>
		    </h3>
            <table class="ui celled center aligned segment table">
				<thead>
					<tr>
						<th>Descrição</th>
						<th>Função</th>
						<th>Turno</th>
						<th>Hora início</th>
						<th>Hora fim</th>
					</tr>
				</thead>
                <tbody>

                    {% for vaga in vagas %}
                    <tr>
                        <td><a href="{% url 'detalhevaga' vaga.id %}">{{ vaga.descricao }}</a></td>
                        <td>{{ vaga.funcao }}</td>
                        <td>{{ vaga.turno }}</td>
                        <td>{{ vaga.hora_inicio }}</td>
                        <td>{{ vaga.hora_fim }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
			</table>

			<div class="ui divider"></div>
			
			{% if request.user|check_group_empresa %}
				<a href="{% url 'consultarofertas' %}" class="ui red left floated labeled icon button">
	                <i class="left arrow icon"></i>
	                Voltar
	            </a>
			{% else %}
				<a href="{% url 'listarofertas' %}" class="ui red left floated labeled icon button">
	                <i class="left arrow icon"></i>
	                Voltar
	            </a>
			{% endif%}
    	</div>
    </div>

</article>

{% endblock %}