{% extends "home.html" %}
{% load group_tags %}

{% block title %} Detalhe candidato {% endblock %}

{% block content %}

	<article class="ui stackable grid" id='add_oferta'>
		<div class="three wide column">
			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}
		</div>

		<div class="twelve wide column">
			<div class="ui green segment ">
		        <h2 class="ui header">
		          Detalhe Candidato
		        </h2>
		        <h3>Oferta: <a href="{% url 'detalheoferta' candidatura.vaga.oferta_id %}">{{ candidatura.vaga.oferta.titulo }}</a></h3>

		        <div class='ui grid'>
		        	<div class='two column row'>
		        		<div class='column'>
		        			<h4 class='ui header'> Nome: 
		        				<p class='sub header'>  {{ candidatura.aluno.first_name }}</p>
		        			</h4>
		        		</div>
		        		<div class='column'>
		        			<h4 class='ui header'> Email: 
		        				<p class='sub header'>  {{ candidatura.aluno.email }}</p>
		        			</h4>
		        		</div>
		        	</div>
		        	<div class='two column row'>
		        		<div class='column'>
		        			<h4 class='ui header'> Curso: 
		        				<p class='sub header'>  Implementar Curso</p>
		        			</h4>
		        		</div>
		        		<div class='column'>
		        			<h4 class='ui header'> Duração do Curso: 
		        				<p class='sub header'>  {{ candidatura.aluno.curso.tempo_minimo }} semestres</p>
		        			</h4>
		        		</div>
		        	</div>
		       	</div>
		       	
		       	<div class='ui divider'></div>
		       	
		       	<a href="{% url 'candidatos' %}" class="ui floated left red labeled icon button"> 
            		<i class="left arrow icon"></i>
            		Voltar
        		</a>
        		{% if not candidatura.contratado %}
                    {% if request.user|check_group %}
                    <a href="{% url 'contratar' candidatura.vaga_id %}" class="ui floated right green labeled icon button" >
                        <i class="checkmark icon"></i>
                        Contratar
                    </a>
                    {% endif %}
                {% endif %}
        		
		    </div>
		</div>
	</article>
{% endblock %}