{% extends "home.html" %}

{% block title %} Editar Auxílio {% endblock %}

{% block content %}

	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}

		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Editar auxílio
		          <p class="sub header">Por favor, preencha o formulário de edição abaixo.</p>
		        </h2>
		        <div class='ui grid'>
		        	
			     </div>

			        <form class="ui form raised segment" method="POST" action="{% url 'editarauxilio' pk %}" autocomplete="off">
                        {% csrf_token %}
				        <div class="ui two fields">

	                        <div class='field'>
		                    	<label for="valor">Valor </label>
			                    <div class="ui right labeled icon input">
		                            {{ form.valor }}
                                    {{ form.valor.errors }}
		                            <i class="asterisk icon"></i>
	                        	</div>
	                    	</div>  
		                </div>
                        <a href="{% url 'auxilios' vaga.id %}" class="ui floated left red labeled icon button">
                            <i class="left arrow icon"></i>
                            Voltar
                         </a>

		                <button type="submit" class="ui floated right green labeled icon button" > 
                    		<i class="checkmark icon"></i>
                    		Salvar alterações
                		</button>
			        </form>
		        </div>
		    </div>
		</div>
	</article>
{% endblock %}