{% extends "home.html" %}

{% block title %} Editar Oferta {% endblock %}

{% block content %}

	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">
			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}
		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">
		          Editar oferta
		          <p class="sub header">Por favor, preencha o formulário de edição abaixo.</p>
		        </h2>
		        <form class="ui form raised segment" method="POST" action="{% url 'editaroferta' id_oferta %}" id="form-solicitacao">
                    {% csrf_token %}
                    <!-- =================================  Input para receber o id da oferta e fazer verificação para nova vaga -->
                    <input type="hidden" name="id_oferta" value="{{ id_oferta }}"/>
			        <div class="ui two fields">

	                    <div class='field'>
	                    	<div class='field'>
		                    	<label for="titulo">Título </label>
			                    <div class="ui left labeled icon input">
		                            {{ form_oferta.titulo }}
                                    {{ form_oferta.titulo.errors }}
	                            	<i class="asterisk icon"></i>
	                       		</div>
	                       	</div>
	                    </div>

	                    <div class='field'>
	                    	<label for="data_vencimento">Data de Vencimento </label>
		                    <div class="ui left labeled icon input">
	                            {{ form_oferta.data_vencimento }}
                                {{ form_oferta.data_vencimento.errors }}
	                            <i class="asterisk icon"></i>
	                        </div>

	                    </div>
                        
	                </div>
	                <div class="ui two fields">
                    	<div class='field'>
                            <label for="descricao_oferta">Descrição </label>
                            <div class="ui right labeled icon input">
                                {{ form_oferta.descricao }}
                                {{ form_oferta.descricao.errors }}
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                        <div class='field'>
                            <label for='opcoes'>Selecione para que a oferta seja visualizada por alunos</label>
                            <div class='opcoes'>
								<div class="field">
                           			<label for="liberar">Liberar</label>
								 	{{form_oferta.liberar}}
								</div>
							</div>
						</div>
                    </div>

	                {% include 'partials/mensagem.html' %}
	                
	                <div class="ui divider"></div>

                    <a href="{% url 'cadastrarvaga' id_oferta %}" class="ui floated right green labeled icon button">
                        <i class="icon plus"></i>
                        Adicionar vaga
                    </a>
					
					<br><br>	

				    <table class='ui celled segment table' id='mostraOfertas'>
				    	<thead>
				    		<tr>
				    			<th> # </th>
				    			<th> Função </th>
				    			<th> Descrição </th>
				    			<th> Turno</th>
				    			<th> Horário entrada</th>
				    			<th> Horário saída</th>
				    			<th> Auxílios </th>
                                <th> Ação </th>
				    		</tr>
				    	</thead>

				    	<tbody>
				    	{% for vaga in vagas %}
				    		<tr>
				    			<td> {{ vaga.id }}</td>
				    			<td> {{ vaga.funcao }}</td>
				    			<td> {{ vaga.descricao }} </td>
				    			<td> {{ vaga.turno }} </td>
				    			<td> {{ vaga.hora_inicio }} </td>
				    			<td> {{ vaga.hora_fim }} </td>

				    			<td>
				    				<a href='{% url 'auxilios' vaga.id %}'>
				    					<i class='dollar icon'></i>
				    					Auxílios
				    				</a>
				    			</td>

                                <td>
                                    <a href="{% url 'editarvaga' vaga.id %}">
                                        <i class="icon edit"></i>
                                    </a>
                                    
                                    <a onclick="confirmar('Tem certeza que deseja excluir esse registro?','{% url 'excluirvaga' vaga.id %}');"  
									href="{% url 'excluirvaga' vaga.id %}" data-original-title="Remover">
									<i class="icon remove"></i>
								</a>

                                </td>
				    		</tr>
				    	{% endfor %}
				    	</tbody>
				    </table>

				    <div class="ui divider"></div>
					
					<a href="{% url 'consultarofertas' %}" class="ui floated left red labeled icon button">
                        <i class="left arrow icon"></i>
                        Voltar
                    </a>	
			        <button type="submit" class="ui floated right green labeled icon button" >
                    	<i class="checkmark icon"></i>
                    	Salvar alterações
                	</button>

		        </form>
		    </div>
		</div>
	</article>

{% endblock %}