{% extends "home.html" %}

{% block title %} Consulta candidatos {% endblock %}

{% block content %}

	<article class="ui stackable grid" 	id='add_oferta'>
		
		<div class="three wide column">
			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}
		</div>

		<div class="twelve wide column">
			<div class="ui green segment ">
		        <h2 class="ui header">Todos candidatos</h2>
		        <table class='ui celled segment table'>
			    	<thead>
			    		<tr>
			    			<th> Nome </th>
			    			<th> Função </th>
			    			<th> Data de Candidatura </th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    	{% for candidatura in candidatos %}
			    		<tr>
			    			<td>
                                <a href='{% url 'detalhecandidato' candidatura.id %}'>
				    				{{ candidatura.aluno.first_name }}
				    			</a>
			    			</td>
			    			<td> {{ candidatura.vaga.funcao }}</td>
			    			<td> {{ candidatura.data }} </td>
			    		</tr>
			    	{% endfor %}
			    	</tbody>
				</table>
			</div>
		</div>
	</article>
{% endblock %}