{% extends "home.html" %}

{% block title %} Consulta Ofertas {% endblock %}

{% block content %}

<article class="ui stackable grid" xmlns="http://www.w3.org/1999/html">

    <div class="three wide column">
        {% block menu %}
            {% include 'partials/menus.html' %}
        {% endblock %}
    </div>

    <div class='twelve wide column'>
        <div class="ui green segment center aligned">
            <div class="ui two column grid" >
                <div class="ui left aligned column">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="classificacao">
                        <div class="default text">Classificar por:</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="1">Empresa A-Z</div>
                            <div class="item" data-value="0">Empresa Z-A</div>
                            <div class="item" data-value="2">Data Solicitação</div>
                            <div class="item" data-value="3">Data Modificação</div>
                        </div>
                    </div>
                </div>
                <div class="ui right aligned column">
                    <div class="ui icon input">
                        <input type="text" placeholder="Procurar...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <table class="ui celled segment table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Data Inserção</th>
                        <th>Data Vencimento</th>
                        <th>Liberado para alunos</th>
                        <th>Total Vagas</th>
                        <th>Vagas Preenchidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oferta in ofertas %}
                    <tr>
                        <td><a href="{% url 'detalheoferta' oferta.id %}">{{ oferta.titulo }}</a></td>
                        <td>{{ oferta.data }}</td>
                        <td>{{ oferta.data_vencimento }}</td>
                        <td>{% if not oferta.liberado %} Não {% else %} Sim {% endif %}</td>
                        <td>{{ oferta.get_total_vagas }}</td>
                        <td>{{ oferta.get_total_vagas_preenchidas }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>

{% endblock %}
