{% extends "home.html" %}

{% block title %} Todas as ofertas {% endblock %}

{% block content %}

	<article class="ui stackable grid">
		<div class="three wide column">
			{% block menu %}
                {% include 'partials/menus.html' %}
            {% endblock %}
		</div>

		<div class="twelve wide column">
			<div class="ui green segment">

	<!-- ==========================================================================
    Conteúdo da guia Todas as ofertas
    =============================================================================== -->

				<div class="ui tab" data-tab="todas_ofertas">
                    <form method="post" action=".">
                    {% csrf_token %}
                        <div class="ui two column grid">
                            <div class="ui left aligned column">
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="classificar" value="{{ classificar }}">
                                    <div class="default text">Classificar por:</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="0">Oferta A-Z</div>
                                        <div class="item" data-value="1">Oferta Z-A</div>
                                        <div class="item" data-value="2">Data de publicação</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui right aligned column">
                                <div class="ui icon input">
                                    <input type="text" name="procurar" placeholder="Procurar..." value="{{ procurar }}">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>
                    </form>

					<div class="ui divider"></div>

					<div class="ui one column grid">
						<div class="ui right aligned column">
                            {% include "partials/paginacao.html" with lista=ofertas procurar=procurar classificar=classificar %}
						</div>
					</div>

                    {% include "partials/mensagem.html" %}

                    {% if not ofertas %}
                        <div class="ui error message">
                            <div class="header">
                                Não foi encontrado nenhuma oferta
                            </div>
                        </div>
                    {% endif %}

					<table class="ui celled segment table">
						<thead>
							<tr>
								<th>Titulo</th>
								<th>Empresa</th>
								<th>Data de publicação</th>
							</tr>
						</thead>

						<tbody>
							{% for oferta in ofertas %}
							<tr>
								<td>
									<a href="{% url 'detalheoferta' oferta.id %}">{{ oferta.titulo }}</a>
								</td>
								<td>{{ oferta.concedente.nome_empresa }}</td>
								<td>{{ oferta.data }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>

					<div class="ui one column grid">
						<div class="ui right aligned column">
							<div class="ui right aligned column">
                                {% include "partials/paginacao.html" with lista=ofertas procurar=procurar classificar=classificar %}
						    </div>
						</div>
					</div>
				</div>

	<!-- ==========================================================================
    Conteúdo da guia Minhas vagas
    =============================================================================== -->

				<div class="ui tab" data-tab="minhas_vagas">

					<div class="ui two column grid">

						<div class="ui left aligned column">

							<div class="ui selection dropdown">
								<input type="hidden" name="classificacao">
								<div class="default text">Classificar por:</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="1">Vaga A-Z</div>
									<div class="item" data-value="0">Vaga Z-A</div>
									<div class="item" data-value="2">Status</div>
								</div>
							</div>
						</div>

						<div class="ui right aligned column">
							<div class="ui pagination menu">
							  <a class="icon item">
							    <i class="left arrow icon"></i>
							  </a>

							  <a class="item"> 5 de 5 </a>

							  <a class="icon item">
							    <i class="right arrow icon"></i>
							  </a>
							</div>
						</div>

					</div>

					<table class="ui celled segment table">

						<thead>
							<tr>
								<th>Descrição</th>
                                <th>Função</th>
                                <th>Empresa</th>
								<th>Status</th>
							</tr>
						</thead>

						<tbody>
							{% for vaga in vagas %}
							<tr>
								<td><a href="/detalhe_vaga">{{ vaga.descricao }}</a></td>
								<td>{{ vaga.funcao }}</td>
                                <td>{{ vaga.concedente }}</td>
                                <td>{{ vaga.status }}</td>
							</tr>
							{% endfor %}

						</tbody>

					</table>

					<div class="ui one column grid">

						<div class="ui right aligned column">
							<div class="ui pagination menu">
							  <a class="icon item">
							    <i class="left arrow icon"></i>
							  </a>

							  <a class="item"> 5 de 5 </a>

							  <a class="icon item">
							    <i class="right arrow icon"></i>
							  </a>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</article>

{% endblock %}