{% extends "home.html" %}

{% block title %} Listar Auxilios por Vaga {% endblock %}

{% block content %}
		
	<article class="ui stackable grid" 	id='add_oferta'>

		<div class="three wide column">

			{% block menu %}
				{% include 'partials/menus.html' %}
			{% endblock %}

		</div>

		<div class="twelve wide column">

			<div class="ui green segment ">

		        <h2 class="ui header">Auxílios</h2>
		        <div class='ui grid'>
		        		<div class='row'>
				        	<div class='sixteen wide column'>
				        		<h4 class='ui header'> Vaga 
				        		<p class='sub header'> Detalhes da vaga para qual será editado um ou mais auxílios. </p></h4>
				        	</div>
				        </div>
				        <div class='row'>
				        	<div class='four wide column'>
								<h5 class='ui header'>Função:</h5> {{ auxilios.0.vaga.funcao }}
							</div>
						    
							<div class='six wide column'>
								<h5 class='ui header'>Descrição:</h5> {{ auxilios.0.vaga.descricao }}
							</div>
							<div class='four wide column'>
								<h5 class='ui header'>Turno:</h5> {{ auxilios.0.vaga.turno }}
							</div>
						</div>
			        </div>

			        {% include 'partials/mensagem.html' %}
	                
	                <div class="ui divider"></div>

                    <div class="ui basic segment">

                    	<a href="{% url 'novoauxilio' id_vaga %}" class="ui floated right green labeled icon button">
                        <i class="icon plus"></i>
                        Adicionar auxílio
                    	</a>
						
						<a href="/editar-oferta/{{ auxilios.0.vaga.oferta_id }}" class="ui floated left red labeled icon button">
	            		<i class="left arrow icon"></i>
	            		Voltar
	        			</a>

                    </div>

			        <table class='ui celled segment table' id='mostraOfertas'>
				    	<thead>
				    		<tr>
				    			<th>Auxílio</th>
				    			<th>Valor</th>
				    			<th>Ação</th>
				    		</tr>
				    	</thead>
				    	<tbody>
				    	{% for auxilio in auxilios %}
				    		<tr>
				    			<td>{{ auxilio.auxilio }}</td>
				    			<td>{{ auxilio.valor }} </td>
				    			<td>
				    				<a href="{% url 'editarauxilio' auxilio.id %}">
				    					<i class="icon edit"></i>
				    				</a>
				    				
				    				<a onclick="confirmar('Tem certeza que deseja excluir esse registro?','{% url 'excluirauxilio' auxilio.id %}');"  
									href="{% url 'excluirauxilio' auxilio.id %}">
									<i class="icon remove"></i>

				    			</td>
				    		</tr>
				    	{% endfor %}
				    	</tbody>
				    </table>
		        </div>
				
		    </div>
		</div>
	</article>

{% endblock %}