{% extends "home.html" %}

{% block title %} Minhas Vagas {% endblock %}

{% block content %}
<article class="ui stackable grid">
		<div class="three wide column">
			{% block menu %}
                {% include 'partials/menus.html' %}
            {% endblock %}
		</div>

		<div class="twelve wide column">
			<div class="ui green segment">
                <form method="post" action="{{ request.path }}">
                    {% csrf_token %}
                    <div class="ui two column grid">
                        <div class="ui left aligned column">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="classificar" value="{{ classificar }}">
                                <div class="default text">Classificar por:</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="0">Oferta A-Z</div>
                                    <div class="item" data-value="1">Oferta Z-A</div>
                                </div>
                            </div>
                        </div>

                        <div class="ui right aligned column">
                            <div class="ui icon input">
                                <input type="text" name="procurar" placeholder="Procurar..." value="{{ procurar }}">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="ui divider"></div>

                <div class="ui one column grid">
                    <div class="ui right aligned column">
                        {% include "partials/paginacao.html" with lista=vagas procurar=procurar classificar=classificar %}
                    </div>
                </div>

                {% include "partials/mensagem.html" %}

                <table class="ui celled segment table">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Função</th>
                            <th>Empresa</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaga in vagas %}
                        <tr>
                            <td><a href="{% url 'detalhevaga' vaga.id %}">{{ vaga.desc_vaga }}</a></td>
                            <td>{{ vaga.desc_funcao }}</td>
                            <td>{{ vaga.nome_empresa }}</td>
                            <td>{{ vaga.desc_status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="ui one column grid">
                    <div class="ui right aligned column">
                        <div class="ui right aligned column">
                            {% include "partials/paginacao.html" with lista=vagas procurar=procurar classificar=classificar %}
                        </div>
                    </div>
                </div>
			</div>
        </div>
</article>
{% endblock %}