{% extends "home.html" %}

{% block title %} Consulta de Convênio {% endblock %}

{% block content %}

	<article class="ui grid">

	<!-- ==========================================================================
	Banner
	=============================================================================== -->

		<div class="three wide column">

			{% block menu %}
                {% include 'partials/menus.html' %}
            {% endblock %}

		</div>

		<div class="twelve wide column">

		<!-- ==========================================================================
		Tabela de empresas
		=============================================================================== -->

			<div class="ui green segment center aligned">
				<h2 class="ui header">
	              Informações de convênio
	              
	            </h2>

				<form method="post" action=".">
                    {% csrf_token %}
                    <div class='ui two column grid'>

                        <div class='ui left aligned column'>

                            <div class="ui selection dropdown">
                                <input type="hidden" name="classificacao">
                                <div class="default text">Classificar por:</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item" data-value="0">Empresa A-Z</div>
                                    <div class="item" data-value="1">Empresa Z-A</div>
                                    <div class="item" data-value="2">Data Solicitação</div>
                                    <div class="item" data-value="3">Data Modificação</div>
                                </div>
                            </div>
                        </div>
                        <div class='ui right aligned column'>
                            <div class="ui icon input">
                                <input type="text" name="procurar" placeholder="Procurar...">
                                <i class="search icon"></i>
                            </div>
                        </div>

                    </div>
                </form>

				<table class='ui celled segment table'>
					<thead>
						<tr>
							<th>
								Status
							</th>
							<th>
								Empresa
							</th>
							<th>
								Data de Solicitação
							</th>
							<th>
								Última Modificação
							</th>
							<th>
								Contrato
							</th>
						</tr>
					</thead>
					<tbody>
						{% for convenio in convenios %}
						<tr>
							<td>
								<div class='ui {{ convenio.get_status_atual.status.classe_css }} circular label'></div>
							</td>
							<td>
								<a href="{% url 'avaliacaoconvenio' convenio.id %}">
									{{ convenio.concedente.nome_empresa }}
								</a>
							</td>
							<td>
								{{ convenio.get_data_solicitacao }}
							</td>
							<td>
								{{ convenio.get_status_atual.data }}
							</td>
							<td>
								{{ empresa.contrato }}
							</td>
						</tr>
						{{x}}
						{% endfor %}
					</tbody>					
				</table>

				<aside class='ui horizontal list'>
					<div class='item'>
					Legenda:
					</div>
					<div class='item st_cv_nao_avaliado'>
						<div class="ui st_nao_avaliado circular label"> </div> Não Avaliado
					</div>
					<div class='item st_cv_em_andamento'>
						<div class="ui st_em_andamento circular label"> </div> Em Andamento
					</div>
					<div class='item st_cv_aprovado'>
						<div class="ui st_aprovado circular label"> </div> Aprovado
					</div>
					<div class='item st_cv_recusado'>
						<div class="ui st_recusado circular label"> </div> Recusado
					</div>
					<div class='item st_cv_cancelado'>
						<div class="ui st_cancelado circular label"> </div> Cancelado
					</div>
				</aside>

			</div>

		</div>

	</article>

{% endblock %}



