{% extends "home.html" %}
{% load contato_tags %}

{% block title %} Meu Convênio {% endblock %}

{% block content %}

  <article class="ui stackable grid split">

    <div class="three wide column">
        {% block menu %}
            {% include 'partials/menus.html' %}
        {% endblock %}
    </div>
    
    <div class="nine wide column">
    
        <div class="ui green segment">

            <h2 class="ui header">
              Informações de convênio
              <p class="sub header">Alterações serão submetidas para avaliação</p>
            </h2>

    <!-- ==========================================================================
    Formulário cadastrado
    =============================================================================== -->

            <form class="ui form segment" method="POST" action="{% url 'meuconvenio' %}" autocomplete="off">
            {% csrf_token %}

    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->

            <section id="empresa_dados">

                <h3 class="ui header">
                    <i class="info icon"></i>
                    Dados da empresa
                </h3>
                <div class="ui divider"></div> 

                <div class="two fields">
                    <div class="field">
                        <label for="tipo_concedente" > Entidade solicitante </label>
                        <div class="ui left labeled icon input">
                            {{ form.tipo_concedente }}
                            {{ form.tipo_concedente.errors }}
                        </div>
                    </div>
                    <div class='field'> </div>
                </div>

                <div class="two fields cnpj">
                    <div class="field" >
                        <label for="cnpj">CNPJ </label>
                        <div class="ui left labeled icon input">
                            {{ form.cnpj }}
                            {{ form.cnpj.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                    <div class='field'></div>
                </div>

                <div class="ui two fields crea">
                    <div class="field">
                        <label for="numero_crea">CREA </label>
                        <div class="ui left labeled icon input">
                            {{ form.numero_crea }}
                            {{ form.numero_crea.errors}}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="three wide field">
                        <label for="uf_crea"> UF </label>
                        <div class="ui left labeled icon input">
                            {% if form.readonly %}
                                <select name="uf_crea" id="uf_crea" class="ui selection dropdown" disabled="disabled">
                                    <option selected>-------</option>
                                    {% for estado in estados %}
                                    <option value="{{estado.abreviado}}">{{estado.abreviado}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select name="uf_crea" id="uf_crea" class="ui selection dropdown">
                                    <option selected>-------</option>
                                    {% for estado in estados %}
                                    <option value="{{estado.abreviado}}">{{estado.abreviado}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {{ form.crea }}
                </div>
                
                <div class="ui two fields">
                    <div class="field">
                        <label for="nome_empresa">Nome da empresa</label>
                        <div class="ui left labeled icon input">
                            
                            {{form.nome_empresa}}
                            {{form.nome_empresa.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label for="area_atuacao">Área de atuação</label>
                        <div class="ui left labeled icon input">
                            {{form.area_atuacao}}
                            {{ form.area_atuacao.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>

                <div class="ui two fields">
                  <div class="field">
                    <label for="first_name">Nome do responsável legal</label>
                    <div class="ui left labeled icon input">
                        
                        {{form.nome_responsavel}}
                        {{form.nome_responsavel.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>

                  <div class="field">
                    <label for="cpf">CPF do responsável legal</label>
                    <div class="ui left labeled icon input">
                        
                        {{ form.cpf }}
                        {{ form.cpf.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>
            </section>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <section id="empresa_contato">
                <h3 class="ui header">
                    <i class="road icon"></i>
                    Endereço
                </h3>
                <div class="ui divider"></div> 

                 <div class="two fields">
                  <div class="field">
                    <label for="rua">Rua</label>
                    <div class="ui left labeled icon input">
                        {{ form.rua }}
                        {{ form.rua.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="numero">Nº, Complemento </label>
                    <div class="ui left labeled icon input">
                        {{ form.numero }}
                        {{ form.numero.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>

                 <div class="three fields">
                    <div class="field">
                        <label for="bairro">Bairro</label>
                        <div class="ui left labeled icon input">
                            {{ form.bairro }}
                            {{ form.bairro.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                      </div>

                    <div class="field">
                        <label for="estado" > Estado </label>
                        <div class="ui left labeled icon input">
                            {{ form.estado }}
                            {{ form.estado.errors }}
                        </div>
                    </div>

                    <div class="field">
                        <label for="cidade"> Cidade </label>
                        <div class="ui left labeled icon input">
                            {{ form.cidade }}
                            {{ form.cidade.errors }}
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label for="cep">CEP </label>
                        <div class="ui left labeled icon input">
                            
                            {{ form.cep }}
                            {{ form.cep.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label for="referencia">Referência </label>
                        {{ form.referencia }}
                        {{ form.referencia.errors }}
                    </div>
                </div>

                <h3 class="ui header">
                        <i class="phone icon"></i>
                      Informações para contato
                      
                    </h3>

                    <div class="ui divider"></div> 
                    
                    {% for linha in form.contato_keys %}
                    <div class="ui two fields">
                        {% for key in form|contato_linha:linha %}
                            <div class="field">
                                <div class="ui left labeled icon input">
                                   {{ form|contato_field:key }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </section>

    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <section id="empresa_login">
                <h3 class="ui header ">
                    <i class="users icon"></i>
                    Informações de login
                </h3>

                <div class="ui divider"></div> 

                <div class="two fields">
                    <div class="field">
                        <label for="username">Email para login </label>
                        {{form.usuario}}
                        {{ form.usuario.errors }}
                    </div>
                </div>
                <div class='field'></div>
            </section>

            <div class="ui divider"></div>

            <a href="{% url 'home' %}" class="ui left floated negative labeled icon button"> <i class="left arrow icon"></i> Voltar</a>
            <button type="submit" class="ui right floated positive labeled icon button"><i class="checkmark icon"></i>  Salvar</button>


        </form>

        </div>

    </div>

    <!-- ==========================================================================
    Menu para acompanhamento da solicitação de convênio
    =============================================================================== -->

    <div class="four wide column">
      <aside class="ui raised green segment">
        <h3 class="ui header ">
            Status convênio
        </h3>

        <div class="ui striped green progress ">
            <div class="bar {{ form.status.status.classe_css }}" ></div>
        </div>

        <div class="ui divider"></div>

        <form class="ui form">
            <div class="field" id="textarea">
                {% if not form.valido %}
                    <label for="textarea">Observações</label>
                    <div class="ui right orange corner label">
                        <i class="info icon"></i>
                    </div>
                    
                    <textarea placeholder="Indique nesse espaço as alterações a serem feitas ou a motivação, se recusado." readonly="readonly">
                        {% if form.status.observacao %}
                            {{ form.status.observacao }}
                        {% else %}
                            O reitor ainda não avaliou a sua solicitação.
                        {% endif %}
                    </textarea>
                {% endif %}
            </div>

            <div class="divider"></div>

        </form>
      </aside>
    </div>


  </article>

{% endblock %}
  


