{% extends "base.html" %}
{% load contato_tags %}
{% block title %} Cadastro de Convênio {% endblock %}

{% block content %}

  <article class="ui stackable grid">

    <!-- ==========================================================================
    Banner
    =============================================================================== -->

    <div class="three wide column">

      

    </div>

    <div class="twelve wide column">

    <!-- ==========================================================================
    Etapas
    =============================================================================== -->

      <div class="ui green segment ">

        <h2 class="ui header">
          Cadastro de convênio
          <p class="sub header">Por favor, preencha o formulário abaixo.</p>
        </h2>

    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->

        <form class="ui form segment" method="POST" action="/solicitacao-convenio/" autocomplete="off">
        {% csrf_token %}
    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->
            <section id="empresa_dados">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                    Dados da empresa
                </h3>

                <div class="fields">
                    <div class="five wide field">
                        <label for="tipo_concedente" > Entidade solicitante </label>
                        <div class="ui left labeled icon input">
                            {{ form.tipo_concedente }}
                            {{ form.tipo_concedente.errors }}
                        </div>
                    </div>
                </div>

                <div class="fields cnpj">
                    <div class="six wide field" >
                        <label for="cnpj">CNPJ </label>
                        <div class="ui left labeled icon input">
                            {{ form.cnpj }}
                            {{ form.cnpj.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>

                <div class="ui two fields crea">
                    <div class="six wide field">
                        <label for="numero_crea">CREA </label>
                        <div class="ui left labeled icon input">
                            {{ form.numero_crea }}
                            {{ form.numero_crea.errors}}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="three wide field">
                        <label for="uf_crea"> UF </label>
                        <div class="ui left labeled icon input">
                            <select name="uf_crea" id="uf_crea" class="ui selection dropdown">
                                {% for estado in estados %}
                                <option value="{{estado.abreviado}}">{{estado.abreviado}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {{ form.crea }}
                </div>

                <div class="ui two fields">
                    <div class="field">
                        <label for="nome_empresa">Nome da empresa</label>
                        <div class="ui left labeled icon input">
                            {{ form.nome_empresa }}
                            {{ form.nome_empresa.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label for="area_atuacao">Área de atuação</label>
                        <div class="ui left labeled icon input">
                            {{ form.area_atuacao }}
                            {{ form.area_atuacao.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>

                <div class="ui two fields">
                  <div class="field">
                    <label for="first_name">Nome do responsável legal</label>
                    <div class="ui left labeled icon input">
                        {{ form.nome_responsavel }}
                        {{ form.nome_responsavel.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>

                  <div class="field">
                    <label for="cpf">CPF do responsável legal</label>
                    <div class="ui left labeled icon input">
                        {{ form.cpf }}
                        {{ form.cpf.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>

                <div class="ui divider"></div>

                <button class="ui labeled icon button"  data-tab="empresa_contato">
                    <i class="right arrow icon"></i>
                    Próxima etapa
                </button>

            </section>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <div class="ui tab" id="empresa_contato" data-tab="empresa_contato">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                    Informações para contato
                </h3>

                <div class="fields">
                  <div class="eight wide field">
                    <label for="rua">Rua</label>
                    <div class="ui left labeled icon input">
                        {{ form.rua }}
                        {{ form.rua.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="numero">Nº, Complemento </label>
                    <div class="ui left labeled icon input">
                        {{ form.numero }}
                        {{ form.numero.errors }}
                    </div>
                  </div>
                </div>

                 <div class="fields">
                    <div class="four wide field">
                        <label for="bairro">Bairro</label>
                        <div class="ui left labeled icon input">
                            {{ form.bairro }}
                            {{ form.bairro.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                      </div>

                    <div class="four wide field">
                        <label for="estado" > Estado </label>
                        <div class="ui left labeled icon input">
                            {{ form.estado }}
                            {{ form.estado.errors }}
                        </div>
                    </div>

                    <div class="four wide field">
                        <label for="cidade"> Cidade </label>
                        <div class="ui left labeled icon input">
                            {{ form.cidade }}
                            {{ form.cidade.errors }}
                        </div>
                    </div>

                    <div class="fields">
                        <div class="three wide field">
                            <label for="cep">CEP </label>
                            {{ form.cep }}
                            {{ form.cep.errors }}
                        </div>
                        <div class="nine wide field">
                            <label for="referencia">Referência </label>
                            {{ form.referencia }}
                            {{ form.referencia.errors }}
                        </div>
                    </div>
                 </div>
                    
                     <div class="ui segment">
                        <h3 class="ui header">
                          Contatos
                          <p class="sub header">Por favor, preencha os contatos.</p>
                        </h3>
                        {% for linha in form.contato_keys %}
                        <div class="ui two fields">
                            {% for key in form|contato_linha:linha %}
                                <div class="four wide field">
                                    <div class="ui left labeled icon input">
                                       {{ form|contato_field:key }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>



                <div class="ui divider"></div>
                <button class="ui labeled icon button" data-tab="empresa_login">
                    <i class="right arrow icon"></i>
                    Próxima etapa
                </button>

            </div>


    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <div class="ui tab" id="empresa_login" data-tab="empresa_login">

                <h3 class="ui header hidden" id="descricao_solicitacao">
                    Dados para login
                </h3>

                <div class="fields">
                    <div class="five wide field">
                        <label for="username">Username </label>
                        <div class="ui left labeled icon input">
                            {{ form.usuario }}
                            {{ form.usuario.errors }}
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="six wide field">
                        <label for="password">Senha </label>
                        <div class="ui left labeled icon input">
                            {{ form.senha }}
                            {{ form.senha.errors }}
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="six wide field">
                        <label for="confirma-password">Confirmação de senha </label>
                        <div class="ui left labeled icon input">
                            <input type="password" id="confirma-password" name="confirma-password" value="" placeholder="Confirme sua senha" required>
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                <button class="ui labeled icon button"  data-tab="empresa_contato" id="voltar_etapa">
                    <i class="left arrow icon"></i>
                    Voltar etapa
                </button>

                <button type="submit" class="ui floated right labeled icon button">
                    <i class="checkmark icon"></i>
                    Enviar solicitação
                </button>

            </div>
        </form>
      </div>
    </div>
  </article>

{% endblock %}