{% extends "base.html" %}
{% load contato_tags %}
{% block title %} Solicitação de Convênio {% endblock %}

{% block content %}

  <article class="ui stackable grid">

    <!-- ==========================================================================
    Banner
    =============================================================================== -->

    <div class="three wide column">
        
        <figure class="banner">

            <img src="{{ STATIC_URL }}images/banner.png" title='Conheça os cursos do IFC Araquari. Graduação: Sistemas de Informação, Ciências Agrícolas, Licenciatura em Química, Medicina Veterinária; Técnico Integrado: Técnico em Informática, Técnico em agricultura, Técnico em química; Técnico Subsequente: Técnico em Agrimensura, Técnico em Agricultura.'>

        </figure>
    

    </div>

    <div class="twelve wide column">

    <!-- ==========================================================================
    Etapas
    =============================================================================== -->

      <div class="ui green segment ">
        <h2 class="ui header">
          Solicitação de convênio
          <p class="sub header">Por favor, preencha o formulário de solicitação abaixo.</p>
        </h2>

    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->

        <form class="ui form" method="POST" action="/solicitacao-convenio/" autocomplete="off">
        {% csrf_token %}
    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->
            <section id="empresa_dados">

                <h3 class="ui header" >
                    <i class="info icon"></i>
                    Dados da empresa
                </h3>
                <div class="ui divider"></div>

                <div class="two fields">
                    <div class="field">
                        <label for="tipo_concedente" > Entidade solicitante </label>
                        <div class="ui left labeled icon input">
                            {{ form.tipo_concedente }}
                            {{ form.tipo_concedente.errors }}
                        </div>
                    </div>
                    <div class='field'></div>
                </div>

                <div class="two fields cnpj">
                    <div class="field" >
                        <label for="cnpj">CNPJ </label>
                        <div class="ui left labeled icon input">
                            {{ form.cnpj }}
                            {{ form.cnpj.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                    <div class='field'></div>
                </div>

                <div class="ui two fields crea">
                    <div class="field">
                        <label for="numero_crea">CREA </label>
                        <div class="ui left labeled icon input">
                            {{ form.numero_crea }}
                            {{ form.numero_crea.errors}}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="three wide field">
                        <label for="uf_crea"> UF </label>
                        <div class="ui left labeled icon input">
                            <select name="uf_crea" id="uf_crea">
                                <option selected>-------</option>
                                {% for estado in estados %}
                                    <option value="{{estado.abreviado}}">{{estado.abreviado}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {{ form.crea }}
                </div>

                <div class="ui two fields">
                    <div class="field">
                        <label for="nome_empresa">Nome da empresa</label>
                        <div class="ui left labeled icon input">
                            {{ form.nome_empresa }}
                            {{ form.nome_empresa.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                    <div class="field">
                        <label for="area_atuacao">Área de atuação</label>
                        <div class="ui left labeled icon input">
                            {{ form.area_atuacao }}
                            {{ form.area_atuacao.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>

                <div class="ui two fields">
                  <div class="field">
                    <label for="first_name">Nome do responsável legal</label>
                    <div class="ui left labeled icon input">
                        {{ form.nome_responsavel }}
                        {{ form.nome_responsavel.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>

                  <div class="field">
                    <label for="cpf">CPF do responsável legal</label>
                    <div class="ui left labeled icon input">
                        {{ form.cpf }}
                        {{ form.cpf.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>

           </section>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <section id="empresa_contato">

                <h3 class="ui header">
                    <i class="road icon"></i>
                    Endereço
                </h3>

                <div class="ui divider"></div>

                <div class="two fields">
                  <div class="eight wide field">
                    <label for="rua">Rua</label>
                    <div class="ui left labeled icon input">
                        {{ form.rua }}
                        {{ form.rua.errors }}
                        <i class="asterisk icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label for="numero">Nº, Complemento </label>
                    <div class="ui left labeled icon input">
                        {{ form.numero }}
                        {{ form.numero.errors }}
                         <i class="asterisk icon"></i>
                    </div>
                  </div>
                </div>

                 <div class="three fields">
                    <div class=" field">
                        <label for="bairro">Bairro</label>
                        <div class="ui left labeled icon input">
                            {{ form.bairro }}
                            {{ form.bairro.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                      </div>

                    <div class=" field">
                        <label for="estado" > Estado </label>
                        <div class="ui left labeled icon input">
                            {{ form.estado }}
                            {{ form.estado.errors }}
                        </div>
                    </div>

                    <div class=" field">
                        <label for="cidade"> Cidade </label>
                        <div class="ui left labeled icon input">
                            {{ form.cidade }}
                            {{ form.cidade.errors }}
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="seven wide field">
                        <label for="cep">CEP </label>
                        <div class="ui left labeled icon input">
                            {{ form.cep }}
                            {{ form.cep.errors }}
                            <i class="asterisk icon"></i>
                        </div>
                         
                    </div>
                    <div class="nine wide field">
                        <label for="referencia">Referência </label>
                        {{ form.referencia }}
                        {{ form.referencia.errors }}
                    </div>
                </div>
                    
                     <h3 class="ui header">
                            <i class="phone icon"></i>
                          Informações para contato
                        {{ form.erro_contatos }}
                    </h3>
                          <div class="ui divider"></div>  
                        
                        {% for linha in form.contato_keys %}
                        <div class="ui two fields">
                            {% for key in form|contato_linha:linha %}
                                <div class=" field">
                                    <div class="ui left labeled icon input">
                                       {{ form|contato_field:key }}
                                       {{ form|contato_field_error:key }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        

            </section>


    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <section id="empresa_login">

                <h3 class="ui header">
                    <i class="users icon"></i>
                    Informações de login
                </h3>

                <div class="ui divider"></div>

                <div class="two fields">
                    <div class="field">
                        <label for="username">Email para login </label>
                        <div class="ui left labeled icon input">
                            {{ form.usuario }}
                            {{ form.usuario.errors }}
                            <i class="user icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class='field'>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label for="password">Senha </label>
                        <div class="ui left labeled icon input">
                            {{ form.senha }}
                            {{ form.senha.errors }}
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="confirma-password">Confirmação de senha </label>
                        <div class="ui left labeled icon input">
                            
                            {{ form.confirma_senha }}
                            {{ form.confirma_senha.errors }}
                            <i class="lock icon"></i>
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                <a href="/" class="ui floated left labeled icon button red">
                    <i class="left arrow icon"></i>
                    Voltar
                </a>

                <button type="submit" class="ui floated right labeled icon button green">
                    <i class="checkmark icon"></i>
                    Enviar solicitação
                </button>

            </section>
        </form>
      </div>
    </div>
  </article>

{% endblock %}