{% extends "home.html" %}
{% load url from future %}
{% load contato_tags %}

{% block title %} Avaliação do Convênio {% endblock %}

{% block content %}

  <article class="ui stackable grid split validar">

    <div class="three wide column">
        {% block menu %}
            {% include 'partials/menus.html' %}
        {% endblock %}
    </div>

    <div class="nine wide column">
    <!-- ==========================================================================
    Formulário cadastro
    =============================================================================== -->
        <form class="ui form green segment" method="POST" action="." autocomplete="off">

    <!-- ==========================================================================
    Dados da empresa
    =============================================================================== -->
          <h2 class="ui header">
              Informações de solicitação de convênio
              <p class="sub header">Verifique os dados abaixo</p>
            </h2>
            <section id="empresa_dados">
                <h3 class="ui header">
                    <i class="info icon"></i>
                    Dados da empresa
                </h3>
                
                <div class="fields">
                    <div class="five wide field">
                        <label for="tipo_concedente" > Entidade solicitante </label>
                        {{form.tipo_concedente}}
                    </div>
                </div>
                {% if form.tipo_concedente.value != 3 %}
                <div class="fields">
                    <div class="six wide field">
                        <label for="cnpj">CNPJ </label>
                        {{form.cnpj}}
                    </div>
                </div>
                {% else %}
                <div class="ui two fields">
                    <div class="six wide field">
                        <label for="numero_crea">CREA </label>
                        {{form.numero_crea}}
                    </div>
                    <div class="two wide field">
                        <label for="uf_crea">UF </label>
                        <input type="text" id="uf_crea" name="uf_crea" readonly>
                    </div>
                    {{form.crea}}
                </div>
                {% endif %}

                <div class="ui two fields">
                    <div class="field">
                        <label for="nome_empresa">Nome da empresa</label>
                        {{form.nome_empresa}}
                    </div>

                    <div class="field">
                        <label for="area_atuacao">Área de atuação</label>
                        {{form.area_atuacao}}
                    </div>
                </div>

                <div class="ui two fields">
                  <div class="field">
                    <label for="first_name">Nome do responsável legal</label>
                    {{form.nome_responsavel}}
                  </div>

                  <div class="field">
                    <label for="cpf">CPF do responsável legal</label>
                    {{form.cpf}}
                  </div>
                </div>

            </section>

            <div class="ui horizontal icon divider">
              <i class="circular asterisk icon"></i>
            </div>

    <!-- ==========================================================================
    Dados para contato
    =============================================================================== -->

            <section id="empresa_contato">
                <h3 class="ui header">
                    <i class="road icon"></i>
                    Endereço
                </h3>

                <div class="ui three fields">
                  <div class="field">
                    <label for="rua">Rua</label>
                    {{form.rua}}
                  </div>

                  <div class="field">
                    <label for="numero">Nº </label>
                    {{form.numero}}
                  </div>

                  <div class="field">
                    <label for="bairro">Bairro</label>
                    {{form.bairro}}
                  </div>

                </div>

                <div class="fields">
                    <div class="seven wide field">
                        <label for="referencia">Referência </label>
                        {{form.referencia}}
                    </div>
                </div>

                <div class="ui horizontal icon divider">
                  <i class="circular asterisk icon"></i>
                </div>

                <h3 class="ui header">
                    <i class="phone icon"></i>
                      Informações para contato
                      
                    </h3>
                    {% for linha in form.contato_keys %}
                    <div class="ui two fields">
                        {% for key in form|contato_linha:linha %}
                            <div class="five wide field">
                                <div class="ui left labeled icon input">
                                   {{ form|contato_field:key }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

            </section>

            <div class="ui horizontal icon divider">
              <i class="circular asterisk icon"></i>
            </div>

    <!-- ==========================================================================
    Dados para login
    =============================================================================== -->

            <section id="empresa_login">
                <h3 class="ui header ">
                    <i class="users icon"></i>
                    Informação de login
                </h3>
                <div class="fields">
                    <div class="six wide field">
                        <label for="username">Username </label>
                        {{form.usuario}}
                    </div>
                </div>
            </section>
        </form>

    </div>

    <!-- ==========================================================================
    Menu para avaliação
    =============================================================================== -->

   <div class="four wide column">
       <aside class="ui raised green segment">
           <h3 class="ui header ">
               Status convênio
           </h3>

           <form class="ui form" enctype="multipart/form-data" action="{% url 'avaliacaoconvenio' id %}" method="post">
               {% csrf_token %}
               <div class="grouped inline fields">

                   <div class="field">
                       <div class="ui radio checkbox">
                           <input type="radio" id="invalido" name="status_convenio" value="2" {% if form.status.status_id == 2 %} checked {% endif %}>
                           <label for="invalido">Inválido</label>
                       </div>
                   </div>

                   <div class="field">
                       <div class="ui radio checkbox">
                           <input type="radio" id="valido" name="status_convenio" value="3" {% if form.status.status_id == 3 %} checked {% endif %}>
                           <label for="valido">Válido</label>
                       </div>
                   </div>

                   <div class="field">
                       <div class="ui radio checkbox">
                           <input type="radio" id="recusado" name="status_convenio" value="4" {% if form.status.status_id == 4 %} checked {% endif %}>
                           <label for="recusado">Recusar solicitação</label>
                       </div>
                   </div>

                </div>

               <div class="ui divider"></div>

               <div class="field" id="textarea">
                   <label for="textarea">Observações</label>
                   <textarea name="obs" placeholder="Indique nesse espaço as alterações a serem feitas ou a motivação, se recusado." required></textarea>
               </div>

            <div class="ui two vertical fluid ui buttons" id="acoes_contrato_valido">

                <div class="ui labeled icon button">
                  <i class="print orange icon"></i>
                  <a href="{% url 'imprimir-convenio' id %}">Imprimir</a>
                   
                </div>

                <div class="ui arquivo_upload labeled icon button">

                    <i class="cloud upload orange icon"></i>
                    Upload
                    <input type="file" name="anexo" accept="application/pdf" class="upload"/>

                </div>

                {{ erro_extensao }}

                <div class="divider"></div>

                {% if form.anexo %}
                    <label class="ui label">

                        <i class="attachment large link icon"></i>

                        <a href="{% url 'download-convenio' id %}" class="detail"> convênio.pdf </a>

                    </label>
                {% endif %}
            </div>

            <div class="divider"></div>

            <div class="one fluid ui buttons">
              
              <button type="submit" class="ui positive button">Salvar</button>
              
            </div>

           </form>
       </aside>

   </div>

  </article>

{% endblock %}
  


