<!DOCTYPE html>
{% load url from future %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title> {% block title %} Gestão de Bolsas e Estágios {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/semantic.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/alertify.core.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
  </head>
  <body>
  <div class='container'>
      <!-- ==========================================================================
       Cabeçalho
       ========================================================================== -->
      <header class="ui grid">
        <div class="sixteen wide column">
          <nav class="ui orange inverted menu">
            <label class="floated left item"><a href="{% url 'home' %}">Sistema Gestão Estágios</a></label>

              {% block menu_usuario %}
                 <a href="{{ url }}/login/" class=" floated right item">
                 <i class="sign in icon"></i> Login</a>
              {% endblock %}
          </nav>
        </div>
      </header>

      <!-- ==========================================================================
       Menu usuários
       ========================================================================== -->


      <!-- ==========================================================================
       Conteúdo
       ========================================================================== -->
      {% block content %}


      {% endblock %}

      <!-- ==========================================================================
       Rodapé
       ========================================================================== -->
     </div>
      <footer class="ui basic segment"  id="footer">

        <div class='ui stackable grid '>
          <div class="middle aligned row ">
          
            <div class='three wide column'>
              <figure class="banner">
                <img src="{{ STATIC_URL }}images/logo-ifc.png">
              </figure>
            </div>
            <div class='ten wide column'>
              <h4 class='ui header'> Instituto Federal Catarinense
                <p class='sub header' id="span"> 

                  Rua das Missões, 100 - Ponta Aguda - CEP: 89051-000 - Blumenau/SC    

                </p>

                <p class="sub header" id="span">

                 Fone/Fax (47) 3331-7800 / ifc@ifc.edu.br

                </p>

                <p class="sub header" id="span">
                  Horário de atendimento: das 8h às 12h e das 13h30 às 17h30 de segunda a sexta-feira.
                </p>

              </h4>
            </div>

            <div class='two wide only computer column'>
              <h5>
                Desenvolvido por: <span>Fábrica de Software</span>
                
              </h5>
              <figure class="banner">
                  <a href='http://fabricadesoftware.araquari.ifc.edu.br'><img src="{{ STATIC_URL }}images/fabrica.png"></a>
                </figure>
            </div>
            
          </div>
        </div>
      </footer>
      
</body>
<script src="{{ STATIC_URL }}javascript/jquery-2.0.3.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery.address.js"></script>
<script src="{{ STATIC_URL }}javascript/semantic.js"></script>
<script src="{{ STATIC_URL }}javascript/alertify.js"></script>
<script src="{{ STATIC_URL }}javascript/script.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery.mask.js"></script>
<script src="{{ STATIC_URL }}javascript/gestao.js"></script>
</html>


