/*******************************
            Global
*******************************/


html,
body {
  font-size: 15px;
  height: 100%;
  max-width: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

a {
  color: #007aa7;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #009fda;
}

p a {
  font-weight: bold;
}

img{
    max-width: 100%;

}

figure{

  margin: 0px;
}

#menulogin{
  min-width: 135px;

}
.container{
  padding: 10px;
  min-height: 100%;
  margin-bottom: -13em; /* Equivalent to footer's height */
  padding-bottom: 13em; /* Equivalent to footer's height */

  box-sizing: border-box;
}
#footer{

  position:relative;
  background-color: #e6e6e6;
  height:13em;
  max-width:100%;
  margin: 0px;
  margin-top: -13em;

}


#login .button{

  float:right;
}

#home p{

  line-height: 1.7;
}

/*******************************
          Overrides
*******************************/
 
.hidden,
.cnpj, .crea, .uf{

  display: none;

}

.alertify {
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,.3);
  -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
     -moz-background-clip: padding;     /* Firefox 3.6 */
          background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.arquivo_upload{

  position: relative;
  overflow: hidden;
  margin: 10px;
}

.arquivo_upload input.upload{

  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#span{

  
  line-height: 2;
  

}

span{
  display: none;
}


/****************************
  Status Convênio | Vaga 
*****************************/

/* Nao analisado */

.ui.st_nao_avaliado.circular.label{

  background-color: #F05940;
}

/* Em andamento - Preenchida */

.ui.st_em_andamento.circular.label{

  background-color: #ddd142;
}

/* Aprovado - Ativo */

.ui.st_aprovado.circular.label, .ui.st_ativo.circular.label{

  background-color: #A1CF64;
}

/* Recusado */

.ui.st_recusado.circular.label{

  background-color: #564F8A;
}

/* Cancelado */

.ui.st_cancelado.circular.label, .ui.st_inativo.circular.label{

  background-color: black;
}

/************************************
  Status Meu Convênio - Progress bar 
*************************************/

.bar.st_nao_avaliado{

  width: 25%;
}

.bar.st_em_andamento{

  width: 50%;
}

.bar.st_aprovado{

  width: 100%;
}

/****************************
          Status Vaga
*****************************/

/* Preenchida */

.ui.status_vaga1.circular.label{

  background-color: #F05940;
}

/* Não preenchida */

.ui.status_vaga2.circular.label{

  background-color: #A1CF64;
}

/* Cancelado */

.ui.status_vaga3.circular.label{

  display:block;
}


.ui.accordion .title .dropdown.icon{

  float: right;
}

/****************************
  text areas ofertas e vagas
****************************/

#add_oferta textarea{
  min-height: 2em;
  height: 4em;
  max-height: 24em;
}

#textarea .ui.corner.label{
  margin-top: 19px;
}
/****************************
          @medias
****************************/

@media only screen and (max-width : 768px) {

  .banner{

    display: none;

  }

  span{
    display: block;
    padding: 10px 0px 10px;
    font-size: 1.5em;
  }

  #footer{

    height: 19em;
  }
}


