{% if messages %}
    {% for message in messages %}
         <div class="ui {{ message.tags }} message">
            <div class="header">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}

