{% load url from future %}

<h4 class="ui header">
    Coordenador
</h4>

<nav class="ui vertical menu">
    <!-- ==========================================================================
									Menus Coordenador
========================================================================== -->
<a href="{% url 'empresas' %}" class="green item" id='listar_ofertas'>
    Todas as empresas
</a>
</nav>