{% load url from future %}

<h4 class="ui header">
    Reitoria
</h4>

<nav class="ui vertical menu">
<!-- ==========================================================================
									Menus Reitoria
========================================================================== -->

<a href="{% url 'consulta-convenios' %}" class="green item" id='todos'>
    Todos os convênios

</a>

<!-- Será implementado na próxima entrega

<!-- <a href='/consulta_convenio/' class="green item" id='status'>
    Convênios por status

</a> 
-->

</nav>