{% if user.is_authenticated %}
    <div class="ui floated right simple dropdown item" id='menulogin'>
      <i class="user icon"></i> {{ user.first_name }} <i class="dropdown icon"></i>
      <div class="menu">
        <a href="#" class="item">
            <i class="settings icon"></i>Alterar senha
        </a>
        <a href="{% url 'logout_user' %}" class="item">
            <i class="off icon"></i>Sair
        </a>
      </div>
    </div>
{% else %}
    <a href="/login/" class=" floated right item">
        <i class="sign in icon"></i> Login</a>
{% endif %}