{% load url from future %}

<h4 class="ui header">
    Empresa
</h4>

<div class="ui vertical menu">
    <div class="item">

        <div class="ui basic accordion">

            <div class="title">
                Ofertas
                <i class="dropdown icon"></i>
            </div>

            <div class="content">
                <a href="{% url 'cadastraoferta' %}" class="item">
                    <i class="add icon"></i>
                    Adicionar
                </a>
                <a href="{% url 'consultarofertas' %}"  class="item">
                    <i class="search icon"></i>
                    Consultar
                </a>
                <a href="{% url 'candidatos' %}" class="item">
                    <i class="list icon"></i>
                    Todos os candidatos
                </a>
            </div>

        </div>

    </div>
    <a href="{% url 'meuconvenio' %}" class="green item" id='meu_convenio'>
        Meu convênio
    </a>
</div>


