{% load url from future %}

<h4 class="ui header">
    Aluno
</h4>

<nav class="ui vertical menu">
    <!-- ==========================================================================
									Menus Aluno
========================================================================== -->
<a href="{% url 'listarofertas' %}" class="green item" id='listar_ofertas'>
    Todas as ofertas
</a>
<a href="{% url 'minhasvagas' %}" class="green item" id='minhas_vagas'>
    Minhas Vagas
</a>
</nav>