{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block menu_usuario %}
    <a href="/" class=" floated right item">
    <i class="reply mail icon"></i>
    Voltar</a>
{% endblock %}

{% block content %}
	<div class='container'>
	<article class="ui three column floated center page grid">

        <div class="column">

        </div>

        <div class="column">

            <div class="three wide column">
	            {% if form.errors %}
	            <aside class="ui error message">
	                <h3 class="header">
	                    E-mail ou senha inválidos.
	                </h3>
	            </aside>
	            {% endif %}
	        </div>

            <form class="ui form green segment" method="POST" action="{% url 'django.contrib.auth.views.login' %}" id='login'>
                {% csrf_token %}
                <div class="field">
                    <label for="login">E-mail </label>
                    {{ form.username }}

                </div>

                <div class="field">

                    <label for="senha">Senha</label>

                    {{ form.password }}

                </div>

                <div class="one fluid ui buttons">

                    <button type="submit" class="ui primary positive labeled icon button">
                        <i class="checkmark icon"></i>
                        Enviar
                    </button>

                </div>

                {% if url_next %}
			<input type="hidden" name="next" value="{% url url_next %}" />
			{% else %}
				<input type="hidden" name="next" value="{% url 'estagioapp.views.estagio_app.home' %}" />
			{% endif %}

            </form>
        </div>

        <div class="column">

        </div>


    </article>
    </div>



{% endblock %}